@font-face {
  font-family: 'Playground';
  src: url('../../assets/fonts/Bubblegum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

body {
  font-family: 'Playground';
} 

@font-face {
  font-family: 'COWBOY';
  src: url('../../assets/fonts/COWBOYWILDWEST.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

body {
  font-family: 'COWBOY';
} 